canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.fullScreenButton {
  background-color: #636363;
  color: #f0f8ff;
  font-size: 0.5rem;
  border: 2px dashed #f0f8ff;
  border-radius: 5%;
  box-shadow: none;
  cursor: pointer;
  display: block;
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 64px;
  height: 32px;
}